<% include ../partials/header %>
<% include ../partials/nav %>


<div class="container">	

	<div class="row">
		<div class="text-center">
			<h3 class="center"> User List </h3>
		</div>
	</div>
	<div class="row" style="display:flex, flex-wrap:wrap;">
		
		<div class="col-sm-6 col-sm-offset-3">
			<ul class="list-group">
		<% profiles.forEach(function(profile){ %>
						<li class="list-group-item">
					
				   			<div class="">	  	
				   			  	<h4> <%=profile.username %> </h4>
				   			  	<a href="users/<%=profile._id %>" class="btn btn-sm btn-success">Profile</a>
				   			  	<a href="users/<%=profile._id %>/collection" class="btn btn-sm btn-warning">Card Collection</a>
				   			  	<hr>
				   			  	<div class="row">
					   			  	<div class="col-md-1">
					   			  		<a href="users/<%=profile._id %>/edit" class="btn btn-sm btn-warning">Edit</a>
					   			  		
					   			  	</div>
					   			  	<div class="col-md-1">
				   					    <form id="delete-form" action="/users/<%= profile._id %>?_method=DELETE" method="POST">
        					 				 <input  type="submit" class="btn btn-sm btn-danger" value="Delete">
							 			</form>	  	
					   			  	</div>
					   			 </div>

			                
					    	</div>
					    	
					 	
					 	</li>
					<%}) %>
			</ul>
		</div>	

	</div>

</div>





<% include ../partials/footer %>